// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";

// SBAdmin Template
@import "sb-admin";

// table,
// th,
// td {
//  border: 1px solid black;
//  border-collapse: collapse;
// }
// html {
//  height: 100%;
// }
// body {
//  height: 100%;
//  display: flex;
// }
// body>nav {
//  min-width: 150px;
//  background-color: lightgray;
//  margin-right: 20px;
// }
// body>nav ul {
//  list-style-type: none;
//  padding-left: 15px;
//  margin-bottom: 10px;
// }
// body>nav li {
//  margin-bottom: 10px;
// }

table th.button-icon-col,
table td.button-icon-col {
    max-width: 52px;
    width: 52px;
    padding-left: 8px;
    padding-right: 0px;
}

.form-control[disabled] {
    background-color: white !important;
    border-style: dashed;
}

textarea.form-control {
    resize: none !important;
    height: 3.625rem !important;
}

textarea.form-control.height-xs {
    height: 3.625rem !important;
}

textarea.form-control.height-sm {
    height: 4.4rem !important;
}

textarea.form-control.height-md {
    height: 6.9rem !important;
}

textarea.form-control.height-lg {
    height: 11.9rem !important;
}

textarea.form-control.height-xl {
    height: 17rem !important;
}

.card {
    height: 100%;
    margin-bottom: 10px;
    // background-color: #E9E9E9;
    background-color: #E1E1E1;
}

.card-img-top {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-img-top img {
    margin-top: 10px;
    height: 100%;
    width: auto;
    object-fit: contain;
}